# FP Markets
FP_LOGIN=여기에_로그인번호
FP_PASSWORD=여기에_패스워드
FP_SERVER=여기에_서버명
FP_PATH=여기에_MT5_실행파일_경로

# Zero Markets
ZERO_LOGIN=여기에_로그인번호
ZERO_PASSWORD=여기에_패스워드
ZERO_SERVER=여기에_서버명
ZERO_PATH=여기에_MT5_실행파일_경로

# Deriv
DERIV_LOGIN=여기에_로그인번호
DERIV_PASSWORD=여기에_패스워드
DERIV_SERVER=여기에_서버명
DERIV_PATH=여기에_MT5_실행파일_경로
